# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

df = pd.read_csv(url, sep = '\t')

,order_id,quantity,item_name,choice_description,item_price
3814,1529,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",$9.25
1174,483,1,Barbacoa Bowl,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",$11.48
580,237,1,Izze,[Grapefruit],$3.39
3261,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
2387,949,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Sour Cream,...",$9.25

### Step 4. See the first 10 entries

In [ ]:
df.head(10)

### Step 5. What is the number of observations in the dataset?

In [53]:
# Solution 1

df.shape[0]

4622

In [11]:
# Solution 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [16]:
df.shape[1]

5

### Step 7. Print the name of all the columns.

In [18]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [19]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [59]:
c = df.groupby('item_name').sum()
c = c.sort_values(by = 'quantity', ascending= False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [71]:
c.head(1).quantity

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [76]:
df.groupby('choice_description').sum().sort_values(by = 'quantity', ascending = False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [88]:
total_item = df.quantity.sum()
total_item

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [96]:
df.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [118]:
dol = lambda x : float(x[1:])

df.item_price = df.item_price.apply(dol)

#### Step 13.c. Check the item price type

In [120]:
df.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [138]:
revenue = (df.item_price * df.quantity).sum()
print(f'Revenue was : {revenue}$')

Revenue was : 39237.02$

### Step 15. How many orders were made in the period?

In [148]:
total_order = df.order_id.value_counts().count()
total_order

1834

### Step 16. What is the average revenue amount per order?

In [162]:
# Solution 1
df["amt"] = df.item_price * df.quantity
df.groupby('order_id').sum().amt.mean()

21.39423118865867

In [163]:
# Solution 2

df.groupby('order_id').sum().mean()

quantity       2.711014
item_price    18.811429
amt           21.394231
dtype: float64

### Step 17. How many different items are sold?

In [166]:
df.item_name.value_counts().count()

50